@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
 font-family: 'Roboto', sans-serif; 

 background-color:rgba(6,6,218,1);
 background-repeat:repeat;
 background-size: cover;
}

.goals h2 {
  text-align: center;
  color: white;
}

.goal-list {
  list-style: none;
  margin: 2rem;
  padding: 0;
  
}

.goal-list li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  background-color: white;
}

